
body, menu {
    padding: 0px;
    margin: 0px;
}

li{
    display: inline-block;
}

menu {
    background-color: black;
    color:white;
    line-height: 50px;
    display: flow-root;
}

.menu a{
    color:white;
    text-decoration: none;
}

.menu a:hover{
    color:green;
}