* {
    margin: 0;
    padding: 0;
    border: 0;
  }

body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
  }


i{
    color:#707070;
    display:inline-block;
}

.navbar {
    background-color:#28A745;
    font-family: 'Roboto', sans-serif;
    }

.nav-link {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.navbar-nav{
    margin-left: auto;
}

.card{
    margin-bottom:8%;
}

.card-title{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size:20pt;
    color:#212529;
}

.card-img-top{
    width:100%;
}

.card-text1{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16pt;
    color:#707070;
    padding-bottom: 0;
    margin:0%;
}

.list-group-item{
    border:0.3pt solid #DDDDDD;
    border-width: 246pt;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0;
    margin-bottom:0;
    padding:0 !important;
}

.card-text2{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 13pt;
    color:#707070;
    margin-bottom:2.5%;
    display:inline-block;
}


.card-text3{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16pt;
    color:#707070;
    margin:5%;
    display: inline-block;
}

.card-text4{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-size: 20pt;
    color: #28A745;
    margin-left:0%;
    margin-right:5%;
    display: inline-block;
}

.mb-1{
    width: 100%;
    background-color:#28A745;
}


h3{
    color:#fff;
    margin-bottom:2%;

}

.form-control{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16pt;
    width: 100%;
    margin-bottom:5%;
    display:inline;
}

.logo{
    height: 2rem;
}

p{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16pt;
    color:#707070;
}